allowed-built-dependencies[]=@reown/appkit
allowed-built-dependencies[]=bufferutil
allowed-built-dependencies[]=cypress
allowed-built-dependencies[]=es5-ext
allowed-built-dependencies[]=esbuild
allowed-built-dependencies[]=keccak
allowed-built-dependencies[]=utf-8-validate
